/*Universal Styling*/
* {
  box-sizing: border-box;
}

/*Background Picture Properties*/
html {
  background: url(../photos/bouquet.jpg) no-repeat top center fixed;
  background-size: cover;
  background-color: rgba(255,255,255,.5);
  background-blend-mode: lighten;
}

/*Page Style*/
body {
  font-size: 1.5em;
  font-family: "cursive", Brush Script MT;
  color: #fff /*white*/
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #bf223a; /*magenta*/
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

/*Flex Box*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  color: inherit;
  padding: 5px;
  margin: 5px;
  background: #5cae8f; /*succulent green*/
  border-radius: 3px;
  list-style-type: none;
  text-decoration: none;
  flex-grow: 1;
}

/* Not sure if I want to use this yet or not
.item-0 {
  margin-right: auto;
}
*/
/*End flex box*/

@media only screen and (max-width: 600px) {
  body {

  }

  .container {
    display: inline-flex;
    flex-direction: column;
  }
}

/*
/*Footer
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.footer-nav {
  float: left;
  text-decoration: none;
  list-style-type: none;
}

.footer-nav li {
  float: left;
}

.copyright: {
  clear: both; /* Clears 'both' left and right
}*/
