/*Universal Styling*/
* {
  box-sizing: border-box;
}

/*Background Picture Properties*/
html {
  background: url(/photos/bouquet.jpg) no-repeat top center fixed;
  background-size: cover;
  background-color: rgba(255,255,255,.5);
  background-blend-mode: lighten;
}

/*Page Style*/
body {
  font-family: "cursive", Brush Script MT;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  min-width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 5px 20px 40px 20px;
  background: rgba(191, 34, 58, .65);
  border-radius: 8px;
  font-size: 1.5em;
  text-align: center;
  border: solid #5cae8f 4px;
}

.item > a {
  color: white;
}

.items > a {
  color: #bf223a;
}

.story {
  text-align: center;
  font-size: 28px;
}

/*Flex Box*/
.container {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #bf223a; /*magenta*/
  border-radius: 4px;
  min-width: 100%;
  color: #fff; /*white*/
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  color: inherit;
  padding: 5px;
  margin: 5px;
  background: #5cae8f; /*succulent green*/
  border-radius: 3px;
  list-style-type: none;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
}

.content {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  text-align: center;
  color: #bf223a;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.items {
  font-size: 4em;
  flex-grow: 1;
  text-align: center;
}

.item-7 {
  padding-right: 30%;
  padding-top: 10%;
  transform: rotate(-20deg);
}

.item-8 {
  padding-left: 30%;
  padding-top: 20%;
  transform: rotate(-20deg);
}
/* Not sure if I want to use this yet or not
.item-0 {
  margin-right: auto;
}
*/
/*End flex box*/

@media only screen and (max-width: 950px) {
  body {

  }

  .story {
    font-size: 24px;
  }

  .item {
      font-size: 1.75em;
    }

    .items {
      font-size: 3.5em;
  }
}
@media only screen and (max-width: 600px) {
  body {

  }

  .container {
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(255,255,255,.5);
    background-blend-mode: lighten;
    box-shadow: 0 1.5px 1.5px 0 #bf223a;;
  }

  .content {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;
    text-align: center;
  }

  .item {
    font-size: 1.5em;
  }

  .items {
    font-size: 2.5em;
  }

  .item-7 {
    transform: rotate(0deg);
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .item-8 {
    transform: rotate(0deg);
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .story {
    font-size: 20px;
  }
}

/*
/*Footer
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.footer-nav {
  float: left;
  text-decoration: none;
  list-style-type: none;
}

.footer-nav li {
  float: left;
}

.copyright: {
  clear: both; /* Clears 'both' left and right
}*/
